main/__pycache__/
main/.venv/

__pycache__/
.venv/
python3118/
.vscode/
include/
lib/

# Ace related
main/www/js/ext/
ext/
ace.js
mode-c_cpp.js
mode-pascal.js
mode-python.js
theme-dynamic.js
c_cpp.js
pascal.js
python.js

# Qt related
*.dll

# Project only
panel.exe

# API
API.txt

# C++
include/
*.obj
*.o
*.exe

# Font
*.ttf
*.otf