main/__pycache__/
main/.venv/

__pycache__/
.venv/
python3118/
.vscode/
include/
lib/

# Ace related
main/www/js/ext/
ext/
ace.js
mode-c_cpp.js
mode-pascal.js
mode-python.js
theme-dynamic.js
c_cpp.js
pascal.js
python.js

# Qt related
*.dll
qres.cpp

# Project only
panel.exe
panel

# API
API.txt

# C++
include/
*.obj
*.o
*.exe
moc_*.cpp

# Font
*.ttf
*.otf

# Testing scripts
test_*