html, body {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--background) 0%, var(--primary) 980%);
}

.loginframe {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background-active); */
    border-radius: 10px;

    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--background-active) 0%, var(--secondary) 1080%);
}

/* .loginframe h1 {
    
} */

.loginframe input {
    padding: 10px;
    border: 2px solid transparent;
    background-color: var(--background);
    border-radius: 10px;
    margin: 10px;
    transition: .15s;
    color: var(--text-color);
    width: 80%;

    /* The input doesn't use the correct font sooooo */
    font-family: 'Cascadia Code', 'Fira Code', 'Consolas', 'Source Code Pro', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Liberation Mono', 'Courier New', 'Menlo', 'Monaco', 'Roboto Mono', 'Lucida Console', 'JetBrains Mono', 'SF Mono', 'PT Mono', 'Andale Mono', monospace;
}

.loginframe input:hover {
    border: 2px solid var(--primary);
}

.loginframe button {
    padding: 15px 20px;
    border: 2px solid transparent;
    background-color: var(--background);
    border-radius: 10px;
    margin: 20px;
    color: var(--text-color);

    /* For some god knows why reason, the button kinda just refused to use the font sooooo */
    font-family: 'Cascadia Code', 'Fira Code', 'Consolas', 'Source Code Pro', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Liberation Mono', 'Courier New', 'Menlo', 'Monaco', 'Roboto Mono', 'Lucida Console', 'JetBrains Mono', 'SF Mono', 'PT Mono', 'Andale Mono', monospace;

    /* width: 140px; */
    transition: .25s;
}

.loginframe button:hover {
    cursor: pointer;
    padding: 15px 40px;
    background-color: var(--primary);
    color: var(--primary-color)
}

/* The notification after clicking on sign in */
.loginframe p {
    color: var(--dangerous);
    font-style: oblique;
}