:root {
    --page_bg: #d3eeff;
    --page_fg: #000000;
    --navbar_bg: #ffffff77;
    --navbar_fg: #000000;
    --navbar_fg_hover: #ffffff4d;
    --navbar_fg_hover_underline: rgba(0, 0, 0, 0.219);
    --primary: rgb(0, 110, 255);
    --primary_text: #ffffff;
    --secondary: rgb(0, 162, 255);
    --secondary_shadow: #008cff55;
    --dark_section: rgb(0, 17, 39);
    --dark_section_fg: #ffffff;
    --secondary_bg: #c8e9ff66;
    --primary_bg: #71cbffcc;
    --shadow: #00223866;

    --overlay_bg: rgba(255, 255, 255, 0.603);
    --overlay_fg: #000000;
}

.dark {
    --page_bg: #00121d;
    --page_fg: #ffffff;
    --navbar_bg: #00365f77;
    --navbar_fg: #ffffff;
    --navbar_fg_hover: #c1e3ff33;
    --navbar_fg_hover_underline: rgba(255, 255, 255, 0.219);
    --primary: rgb(0, 110, 255);
    --primary_text: #ffffff;
    --secondary: rgb(0, 162, 255);
    --secondary_shadow: #008cff55;
    --dark_section: rgb(0, 17, 39);
    --dark_section_fg: #ffffff;
    --secondary_bg: #00121f66;
    --primary_bg: #004369cc;
    --shadow: #00111dad;

    --overlay_bg: #000b1377;
    --overlay_fg: #ffffff;
}

html, body {
    /* display: flex; */
    /* margin-top: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    margin: 0;
    padding: 0;
    background: var(--page_bg);
    color: var(--page_fg);
    height: 100%;
    width: 100%;
    transition: .3s ease;
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom of the page */
    width: 100%;
}

/* Navigation bar */
ul {
    position: fixed;
    top: 0; /* Positions it at the top of the screen */
    left: 0; /* Aligns it to the left of the screen */
    width: 100%; /* Ensures it spans the full width of the screen */
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: var(--navbar_bg);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); /* For Safari support */
    z-index: 1000;
    transition: .3s ease;
}

ul a img {
    padding: 0 20px;
    
}

ul li {
    display: inline-block;
    /* padding: 0 20px; */
}

ul li a {
    display: block;
    padding: 8px;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none transparent;
    color: var(--navbar_fg);
    /* background-color: rgb(0, 110, 255); */
    border-radius: 10px;
    padding: 11px 13px;
    margin-right: 10px;
    /* background: linear-gradient(324deg, rgba(220,227,255,1) 0%, rgba(206,247,255,1) 100%); */
    /* opacity: 0; */
    background-size: 0% 0%;
    /* background-color: #dddddd; */
    transition: .3s;
}

ul li a:hover {
    background-color: var(--navbar_fg_hover);
    text-decoration: underline var(--navbar_fg_hover_underline);
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    /* background: rgb(220,227,255); */
    background-size: 100% 100%;
    color: var(--navbar_fg);
    /* opacity: 1; */
}

.navbar_user {
    padding: 0 20px;
    display: inline-block;
    text-align: right;
    /* margin-left: auto; */
    margin-right: 20px;
}

.navbar_user a {
    display: block;
    padding: 8px;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--primary_text);
    background-color: var(--primary);
    border-radius: 10px;
    padding: 11px 20px;
    /* background-color: #dddddd; */
}

.navbar_darklight {
    padding: 0 20px;
    display: inline-block;
    text-align: right;
    margin-left: auto;
}

.navbar_darklight button {
    display: block;
    padding: 8px;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none transparent;
    color: var(--navbar_fg);
    /* background-color: rgb(0, 110, 255); */
    border-radius: 10px;
    padding: 11px 13px;
    margin-right: 10px;
    /* background: linear-gradient(324deg, rgba(220,227,255,1) 0%, rgba(206,247,255,1) 100%); */
    /* opacity: 0; */
    background-size: 0% 0%;
    border: none;
    background-color: transparent;
    transition: .3s;
}

.navbar_darklight button:hover {
    background-color: var(--navbar_fg_hover);
    text-decoration: underline var(--navbar_fg_hover_underline);
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    /* background: rgb(220,227,255); */
    background-size: 100% 100%;
    /* opacity: 1; */
    cursor: pointer;
}

.navbar_darklight button img {
    width: 32px;
    height: 32px;
}

.navbar_sel {
    display: inline-block;
    /* padding: 0 20px; */
}

.navbar_sel a {
    display: block;
    /* padding: 8px; */
    font-size: 22px;
    font-weight: bolder;
    text-decoration: underline var(--secondary);
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    color: var(--navbar_fg);
    /* background-color: rgb(0, 110, 255); */
    border-radius: 10px;
    /* padding: 11px 20px; */
    /* background-color: #dddddd; */
}

/* Footer section. This is for some shits like showing who made the software, etc... */
.leg {
    padding: 40px;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-color: var(--dark_section);
    color: var(--dark_section_fg);
}

.leg p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}