p {
    margin: 0 80px;
}

h2 {
    margin: 0 50px;
}

/* Gradient background section */
.section1 {
    position: relative; /* Ensures child elements are positioned relative to this container */
    width: 100%; /* Full width */
    min-height: 100vh; /* Ensures the section fills at least the viewport height */
    display: flex; /* Flexbox for centering content */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    text-align: center;
    overflow: hidden; /* Prevents background overflow */
    z-index: 0;
    flex-direction: column;
    padding-bottom: 100px;

    /* Background gradient */
    background: radial-gradient(circle, var(--secondary_bg), var(--primary_bg), rgba(0, 0, 0, 0));
    background-size: 150%; /* Makes the gradient larger than the container */
    background-position: 0 0; /* Starts gradient at the top left */
    animation: moveGradient 45s infinite alternate ease-in-out;
     /* Keeps the background fixed as the content scrolls */
}

@keyframes moveGradient {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: -150px 150px;
    }
    50% {
        background-position: 150px -150px;
    }
    75% {
        background-position: -150px -150px;
    }
    100% {
        background-position: 150px 150px;
    }
}


.section1 h1 {
    display: block;
    font-size: 60px;
    padding: 0;
    margin: 0;
    margin: 0 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 200px;
    /* z-index: 1; */
}

.slogan {
    display: block;
    font-size: 20px;
    margin: 0 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section1 h2 {
    display: block;
    font-size: 30px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section1 h2 a {
    text-decoration: none;
    color: var(--page_fg);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 0.2s;
}

.section1 h2 a:hover {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.section1 p {
    width: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Splitting between contents */
.mainpage {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;
    flex-wrap: wrap;
    margin: 0 100px;
}

.divide1 {
    margin: 0 20px;
}

.divide2 {
    margin: 0 20px;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}

.divide2 img {
    width: 600px;
    border-radius: 20px;
    margin: 0 10px;
    margin-top: 100px;
    box-shadow: 0 0 40px var(--secondary_shadow);  /* Using the same color as your background gradient */
    position: relative;
    z-index: 1;
}

/* Features section */
.features {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    perspective: 1000px;
}

.featurecards {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 260px;
    border-radius: 20px;
    background-color: var(--overlay_bg);
    border: 2px solid transparent;
    padding: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 40px 25px;
    text-align: center;
    transform-style: preserve-3d;
    color: var(--overlay_fg);
    box-shadow: 0px 0px 30px var(--shadow);
    transition: 0.3s ease;
}

.featurecards:hover {
    border: 2px solid var(--secondary);
    box-shadow: 0px 0px 50px var(--secondary_shadow);
    /* transform: translateY(-10px); */
}

.featurecards a {
    text-decoration: none;
    font-size: x-small;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--overlay_fg)
}

.featurecards a img {
    object-fit: cover;
    border-radius: 20px;
    width: 260px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--overlay_fg)
}

.featurecards a h1 {
    font-size: 20px;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--overlay_fg)
}

/* Frames of fame */
.frame {
    width: 800px;
    padding: 20px;
    background: var(--overlay_bg);
    border-radius: 20px;
    margin-top: 30px;
    justify-content: left;
    align-items: start;
    border: 2px solid transparent;
    box-shadow: 0px 0px 30px var(--shadow);
    transition: 0.3s ease;
}

.frame:hover {
    border: 2px solid var(--secondary);
    box-shadow: 0px 0px 50px var(--secondary_shadow);
}

.frame h1 {
    font-size: 35px;
    margin: 15px 0;
    text-align: left;
    margin-left: 27px;
}

.frame p {
    margin: 0;
    padding: 0;
    text-align: left;
    /* margin-right: auto; */
    margin-left: 27px;
    margin-bottom: 20px;
}